<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="SuperOffice">
      <sectionGroup name="Security">
        <section name="Cryptography" type="System.Configuration.NameValueSectionHandler, System, Version=1.0.5000.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"/>
      </sectionGroup>
      <section name="Diagnostics" type="System.Configuration.NameValueSectionHandler, System, Version=1.0.5000.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"/>
      <sectionGroup name="Data">
        <section name="Session" type="System.Configuration.NameValueSectionHandler, System, Version=1.0.5000.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"/>
        <section name="Database" type="System.Configuration.NameValueSectionHandler, System, Version=1.0.5000.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"/>
        <section name="ImplicitAnonymous" type="System.Configuration.NameValueSectionHandler, System, Version=1.0.5000.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"/>
        <section name="Explicit" type="System.Configuration.NameValueSectionHandler, System, Version=1.0.5000.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"/>
      </sectionGroup>
      <section name="Documents" type="System.Configuration.NameValueSectionHandler, System, Version=1.0.5000.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"/>
    </sectionGroup>
  </configSections>
  <SuperOffice>
    <Security>
      <Cryptography>
        <add key="SymmetricKey" value="p8/kDmMuw0xuQYFzaVat7lULlns+n/wPFP2bW5+4oTQ="/>
        <add key="SymmetricIV" value="1GbQjEeRbfL5EGVxH9a+og=="/>
        <add key="SymmetricSecret" value="SuperOffice NetServer Training"/>
      </Cryptography>
    </Security>
    <Diagnostics>
      
      
      <add key="LogToEventLog" value="False"/>
      
      <add key="LogToFile" value="True"/>
      
      <add key="EnableScaffolding" value="True"/>
      
      <add key="LogFolder" value="c:\temp"/>
    </Diagnostics>
    <Data>
      <Session>
        <add key="Mode" value="Process"/>
      </Session>
      <Database>
        <add key="DatabaseMajor" value="MSSQL"/>
        <add key="DatabaseMinor" value="8"/>
        <add key="Server" value="ServerName"/>
        <add key="Database" value="DatabaseName"/>
        <add key="CommandTimeOut" value="300"/>
        <add key="TablePrefix" value="CRM7"/>
        <add key="ConnectionString" value="Server=[@Server];Database=[@Database];User ID=[@User];Password=[@Password]"/>
      </Database>
      <Explicit>
        <add key="ExternalPersonAllowed" value="False"/>
        <add key="EmployeeAllowed" value="True"/>
        <add key="SystemAllowed" value="True"/>
        <add key="DBUser" value="DbUserName"/>
        <add key="DBPassword" value="DbUserPassword"/>
        <add key="CommonDBConnection" value="True"/>
      </Explicit>
    </Data>
    <Documents>
      
      <add key="ArchivePath" value="C:\SO_ARC\"/>
      
      <add key="TemporaryPath" value="c:\temp"/>
      
      <add key="ImpersonateUser" value="False"/>
      
      <add key="ArchiveUser" value=""/>
      
      <add key="ArchivePassword" value=""/>
      
      <add key="ArchiveDomain" value=""/>
      
      <add key="BufferSize" value="64"/>
    </Documents>
  </SuperOffice>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1"/>
  </startup>
</configuration>
